@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

:root{
  --paddingContainer: 30px 15px;
  --robotoFont: 'Roboto', sans-serif;
}

.todolist{
  width: 100%;
  height: 100vh;
  background-color: #1b1b32;
  padding: var(--paddingContainer);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todolist__container{
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  width: 90%;
  max-width: 900px;
  overflow: hidden;
}

.todolist__listatareas{
  min-height: 390px;
  width: 90%;
  min-width: 240px;
  margin: 15px auto 0px;
  background-color: #d0d0d5;
  padding: 10px; 
  border-radius: 26px;
  color: white;
  text-align: center;
  overflow: auto;
}
.todolist__listatareas::-webkit-scrollbar {
  display: block;
  width: 12px;
}

.todolist__listatareas::-webkit-scrollbar-track {
  background: transparent;
}

.todolist__listatareas::-webkit-scrollbar-thumb {
    border-right: none;
    border-left: none;
}


.todolist__title{
  font-family: var(--robotoFont);
  font-size: 1.2rem;
  color: #1b1b32;
}

@media (min-width: 700px){
  .todolist__title{
    font-size: 2rem;
  }
}